.navbar {
  border-radius: 30px;
  margin: 10px;
}

.sidebar-nav {
  transition: 0.2s !important;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .offcanvas {
    top: 85px !important;
    left: 15px !important;
    height: calc(100% - 200px);
  }
}

$offcanvas-horizontal-width: 250px !default;
$offcanvas-vertical-height: 10vh !default;